body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000034 !important;
  font-size: 10px;
}

td, th,p {
  color: rgb(209, 205, 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

thead th, tbody th {
  font-size: 12px;
}

td {
  font-size: 13px;
}

h2 {
  color: rgb(157, 149, 136);;
}

.text {
    font-size: 11px;
}

.table-blocks, .table-votes{
  table-layout: fixed;
}


.table td, .table th {
  border-top-color: rgb(56, 61, 63);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(27, 29, 30);
}
.statsContainer {
  min-height: 300px;
  background-color: rgb(24, 26, 27);
  border-radius: 15px;
  border: 2px solid rgb(48, 52, 54);
  margin-bottom: 1rem;
}

.stats-footer{
  font-size: 10px;
  overflow-wrap: break-word;
}

.statsContainer h2{
  text-align: center;
  margin-top: 15px;
}



.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

label.form-switch {
  color: rgb(84, 161, 228);
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }



.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 200px;
}

.circle-bg {
  fill: none;
  stroke: rgb(209, 205, 199);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: rgb(209, 205, 199);
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.bandwidth {
  fill: rgb(209, 205, 199);
  font-family: sans-serif;
  font-size: 4px;
  text-anchor: middle;
}


.betaText {
  position: absolute;
  margin-top: -37px;
  margin-left: 5px;
  color: rgb(200, 196, 189);
  transform-origin: 0 0;
  transform: rotate(
          -45deg
  );
  font-weight: bold;
  line-height: 11px;
  text-align: center;
  font-size: 10px;
}

.betaDetails{
  font-size: 10px;
  color: rgb(255, 174, 26);
}

.text-blue {
  color: rgb(84, 161, 228);
}

.dashboard-version{
  font-size: 10px;
  opacity: 0.5;
}

btn-primary {
  color: rgb(232, 230, 227);
  background-color: rgb(0, 98, 204);
  border-color: rgb(0, 86, 179);
}
.table tr, .table th, table td {
  border-top-color: rgb(56, 61, 63) !important;
  border-bottom-color: rgb(56, 61, 63) !important;
}


.ttip {
  position: absolute;
  text-align: center;
  background-color: rgb(157, 149, 136);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  right: 24px;
  bottom: 24px;
}

.ttip p {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

.ttip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: rgb(157, 149, 136);
  text-align:center;
  z-index: 2;
  display:none; /* hide by default */
}

.ttip:after {
  content: "";
  position:absolute;

  /* position tooltip correctly */
  left:100%;
  margin-left:-5px;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;

  display:none;
}

.ttip:hover:before, .ttip:hover:after {
  display:block;
}
